In [1]:
import pandas as pd
import numpy as np
import yahoo_fin.stock_info as yh
from stock_dataset import stock_data
import warnings

warnings.filterwarnings("ignore")

Stock data ready to use!

In [2]:
for key in stock_data.keys():
    stock_data[key]['pred_close'] = stock_data[key]['close'].mean()
    stock_data[key] = stock_data[key].drop(['close'], axis=1)
    stock_data[key]['ticker'] = key

In [3]:
stock_data['AAPL']

          date  dailychange  pred_close ticker
0   2020-07-20     1.000000  145.810276   AAPL
1   2020-07-21     0.986198  145.810276   AAPL
2   2020-07-22     1.002809  145.810276   AAPL
3   2020-07-23     0.954484  145.810276   AAPL
4   2020-07-24     0.997523  145.810276   AAPL
..         ...          ...         ...    ...
748 2023-07-11     0.997190  145.810276   AAPL
749 2023-07-12     1.008986  145.810276   AAPL
750 2023-07-13     1.004057  145.810276   AAPL
751 2023-07-14     1.000787  145.810276   AAPL
752 2023-07-17     1.017306  145.810276   AAPL

[753 rows x 4 columns]

In [4]:
dataset = pd.concat(stock_data.values()).reset_index(drop=True)

dataset.to_csv('data/mock_predict_data.csv')